$panel-width: 40%;
$color-border: #d4d4d4;
$color-border-focus: #333;

html, body { margin: 0; padding: 0; font-size: 100%; }

// accessibility helpers
body:not([data-focus-source=keyboard]) :focus {
	outline: none;
}
[data-focus-source=keyboard] :focus {
	outline: rem(2) solid #00a862;
}
[data-focus-source=keyboard] :focus {
	outline: rem(2) solid #00a862;
}

// dummy
.main-header {
	height: rem(50);
	border-bottom: rem(1) solid #d4d4d4;
	padding: rem(10) rem(50);
	>img {
		height: 100%;
	}
}
.storelocator__sidebar .visiblity-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: rem(1);
	margin: rem(-1);
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: rem(1);
}
.no-overflow {
	overflow: hidden !important;
}

.storelocator-progress {
	transition: opacity .2s;
	background: rgba(0,0,0, .8);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
	top: 0;
	left: 0;
	&.fade-out {
		opacity: 0;
	}


	&__message {
			position: absolute;
			width: rem(300);
			height: rem(300);
			margin: auto;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;

		>img {
			width: rem(75);
		}
		>p {

			color: #fff;
		}
	}

}


.storelocator {
	transition: opacity 1s;
	position: relative;
	width: 100%;
	height: calc(100vh - 50px);
	.is-hidden {
		display: none;
	}
	&--ready {
		.storelocator__inner {
			opacity: 1;
		}
	}
	&__inner {
		display: flex;
		opacity: 0;
		height: calc(100% - 80px);
	}
	button {
	    background: transparent;
		border: 0;
		&:hover {
			cursor: pointer;
		}
	}
	input {
		border: 0;
	}

	&__sidebar { //aside
		flex: 0 0 40vw;
		background-color: #fff;
		box-sizing: border-box;
		z-index: 1;
		overflow: hidden;
		position: relative;

		&-header {
			display: flex;
		}
	}

	&__search {
		flex: 1;
		position: relative;
		>input {
			width: 100%;
			height: rem(80);
			font-size: rem(18);
			line-height: rem(50);
			padding: 0 rem(40) 0 rem(20);
			box-sizing: border-box;
			border-bottom: rem(1) solid $color-border;

		}
		>.icon-button {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			>svg {
				width: rem(20);
			}
		}
	}
	&__filter-button {
		padding: 0 rem(15);
		width: auto;
		font-size: rem(18);
	}
	&__filterpanel {
		padding: rem(30);
		.storelocator__filter-button {
			position: absolute;
			right: 0;
		}

	}

	&__filter-attributes {
		padding-right: 20%;
		> a {
			display: block;
			padding: rem(10) 0;
			&.is-selected {

				background-image: url(/static/check.svg);
				background-repeat: no-repeat;
				background-position: right center;
			}
			span {
				margin-left: rem(15);
			}
		}
	}
	&__info {
		padding: rem(15) 0 rem(15) rem(30);
		border-bottom: rem(1) solid $color-border;
	}
	&__listsize {}
	&__list-container {
		height: calc(100% - 50px);
		overflow: auto;
		position: relative;
		-webkit-overflow-scrolling: touch;
	}
	&__info-overlay {
		transition: opacity .2s, transform .2s;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 1;
		opacity: 0;
		transform: scale(.3);
		&.on {
			opacity: 1;
			transform: scale(1);
		}
		&.off {
			opacity: 0;
			transform: scale(.3);
		}
	}
	&__info-overlay-close {
		position: absolute;
		right: rem(30);
		top: rem(30);
	}
	&__info-overlay-content {
		padding: rem(30);
	}
	&__map {

		flex: 1 1 60vw;
	}
	&__loader {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		&.shown {
			display: block;
		}
	}
}


.storelocator__list {
	overflow: auto;
	list-style: none;
	padding: 0;
	margin: 0;
	>li {
		transition: background-color .2s;
		&:hover {
			background-color: rgba(0,0,0, .1);
		}
		&.is-active,
		&.is-hover {
			background-color: rgba(0,0,0, .15);
		}
	}
	.storelocator__list-item {
		padding: rem(10) rem(30);
		position: relative;
		>h3{
			font-family: sans-serif;
			font-size: rem(16);
			margin: 0;
		}
		>button {
			padding: rem(10);
			position: absolute;
			right: 0;
			top: rem(19);

		}
		.icon-button {
			display: block;
			width: rem(30);
			height: rem(30);
			box-sizing: content-box;

		}
	}
}
.panels {
	font-size: 0;
	>* {
		font-size: 16px;
		display: inline-block;
	}
}
.panel {
	transition: transform .3s;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	position: absolute;
	transform: translate3d(-100%, 0, 0);
	&.is-active {
		transform: translate3d(0%, 0, 0);
	}
	&--main {
		transform: translate3d(100%, 0, 0);
	}
}

.icon-button {
	width: rem(40);
	height: rem(40);
	padding: 0;
	&.icon-button--round {
		> svg,
		img {
			border-radius: 50%;
			border: rem(1) solid $color-border;
			box-sizing: border-box;
			padding: rem(5);
			width: 100%;
			height: 100%;
		}

	}

}

@keyframe fade-in {
	from {
		opacity: 0
	}
	to: {
		opacity: 1;
	}
}
